{%load static%}
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">

<nav class="navbar navbar-expand-lg navbar-light" bg-light style="background-color: #e59018;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i><h1>FoodStack</h1></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button><br>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><h5>Home</h5></a>
          </li><br>
          {%if user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="product"><h5>Products</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="clist"><h5>Cartlist</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about"><h5>About Us</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="out"><h5>Logout</h5></a>
          </li>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white">
                 Welcome,{{user}}
                </a>
              </li>
            </ul>
          </div>  
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="reg"><h5>Register</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="log"><h5>Login</h5></a>
          </li>
          {%endif%}
          
        </ul>
        
      </div>
    </div>
  </nav>